html, body, div { margin: 0; padding: 0; box-sizing: border-box; }
.content { padding: 0 10px; max-width: 800px; margin-bottom: 80px; }
.content a { color: #9999FF; text-decoration: none; }
body { color: #FFFFFF; background-color: #01073f; background-origin: content-box;
       background-image: url(../img/spacex-timelapselaunch_half.jpg);
       background-attachment: fixed; background-size: cover; background-position: center;
       margin-bottom: 20px; font-family: Arial, Helvetica, sans-serif; line-height: 1.2;
       text-shadow: -1px -1px 1px black, 1px -1px 1px black, 1px 1px 1px black, -1px 1px 1px black; }
@media (min-width: 1280px) {
    body { background-image: url(../img/spacex-timelapselaunch.jpg); } }
p.banner { display: flex; clear: both; margin: 25px 0 0 0; text-shadow: none;
           text-align: center; text-wrap: balance; font-size: 1.4em; }
p.banner span { display: inline-flex; background: #2A3784; border-radius: 0.5em;
                padding: 0.15em 0; min-width: 0; }
p.banner:before, p.banner:after { flex-grow: 1; content: ""; }
p.banner span:before, p.banner span:after { width: 1em; min-width: 0.2em; content: ""; }
p.ticker { display: flex; clear: both; margin: 10px 0 0 0; text-shadow: none;
           text-align: center; text-wrap: balance; font-size: 1.1em; }
p.ticker > span { display: inline-flex; background: #FFFFFF; border-radius: 0.5em;
                  color: #000000; font-weight: bold; padding: 0.15em 0; min-width: 0; max-width: 20em; }
p.ticker > span.next_info { display: none; }
p.ticker.live > span.placeholder { display: none; }
p.ticker.live > span.next_info { display: inline-flex; position: relative; }
p.ticker.live > span > a { position: absolute; bottom: -10px; right: -12px; }
p.ticker span span a { display: contents; color: #3333FF; }
p.ticker:before, p.ticker:after { flex-grow: 1; content: ""; }
p.ticker > span:before, p.ticker > span:after { width: 0.5em; min-width: 0.3em; content: ""; }
p.chapter { margin-top: 10px; }

img { margin-top: 10px; }
img.map { margin: 0; width: 32px; padding-left: 2px; }
img.logo { max-width: 90%; height: auto; margin-bottom: 10px; }
p.contact { clear: right; float: right; text-align: right; margin: 0 0 0 15px; }
p.contact img { margin-top: 3px; }
@media (max-width: 28em) { p.contact span { display: none; } }
p.member { margin: 6px 0 3px 4em; text-indent: -3.5em; }
p.member ~ p.member { margin-top: 0; }
p.member span { display: inline-block; min-width: 7em; text-indent: 0; }
.centered { text-align: center; text-wrap: balance; }
#subscribe-form { margin-bottom: 16px; }
#subscribe-form > p { margin-bottom: 8px; }

table { width: 100%; border-spacing: 0; }
#events td { vertical-align: top; padding-top: 0.3em; }
.event-detail div { overflow: hidden; padding: 0; max-height: 0;
    -webkit-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
    -moz-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
    -ms-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
    -o-transition: max-height 1.5s cubic-bezier(0, 1.05, 0, 1);
    transition: max-height 1.5s ease cubic-bezier(0, 1.05, 0, 1); }
.details + .event-detail div { max-height: 20em;
    -webkit-transition: max-height 1.5s ease;
    -moz-transition: max-height 1.5s ease;
    -ms-transition: max-height 1.5s ease;
    -o-transition: max-height 1.5s ease;
    transition: max-height 1.5s ease; }
.event-detail td { padding: 0 1em 0 2em !important; }
.event-date, .event-time { padding-right: 1em; }
.event-date .long, .event-time .long { display: inline; }
.event-date .short, .event-time .short { display: none; }
.event-text { padding-left: 1.2em; }
.event-text span { display: inline-block; width: 1.2em; margin-left: -1.2em; }
.summary .event-text span::before { content: "\0229E"; }
.details .event-text span::before { content: "\0229F"; }
.event-link img { padding: 0; margin: 0; height: 80%; }
@media (max-width: 42em) {
    .event-date .long, .event-time .long { display: none; }
    .event-date .short, .event-time .short { display: inline; } }

#posts p { margin-left: 82px; position: relative; }
#posts img { width: 72px; height: 72px; border-radius: 10px;
    position: absolute; left: -82px; top: 5px; margin: 0; }
#fb_logo { display: inline-block; width: 1.1em; position: relative; }
#fb_logo img { width: 1.1em; position: absolute; top: -1.55em; left: 0em; }

.logo-plus-button { display: block; height: 18px; background-color: #fff; padding-right: 2px; }
.logo-plus-button>div { display: inline-block; }
.logo-plus-button-plus-icon {
    font-family: Arial; width: 18px; height: 18px;
    background-color: #4285f4; background-position: center center;
    background-image: url(../img/logo-plus.png); }
.logo-plus-button-lockup {
    padding-left: 46px; margin-left: 2px; margin-right: 1px;
    position: relative; top: -2px; background-size: 46px 16px;
    background-repeat: no-repeat; background-position-y: 1px;
    background-image: url(../img/googlelogo_color_46x16dp.png); }
.logo-plus-button-lockup-text {
    font-family: 'Product Sans',Arial,Helvetica,sans-serif; font-size: 13px;
    opacity: .54; color: rgb(50,50,50); text-shadow: none; position: relative; top: -3px; }
.subscribe-image { display: inline-block; cursor: pointer; padding-top: 0.3em; }

div.bg { color: #63F331; text-align: center; }
div.bg img { padding: 0; width: 60vw; min-width: 90px; max-width: 600px; }

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background-color: #2A3784; }
::-webkit-scrollbar-thumb { background-color: #676A73; }
::-webkit-scrollbar-thumb:hover { background-color: #8A8E9A; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background-color: #243073; }
